.navigation {
  font-family: 'Krona One', sans-serif;
  font-size: 24px;
  display: block;
  /* display: table; */
  margin: auto;
}

  .navigation a {
    text-decoration: none;
    display: inline-table;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #1E3231;
    color: #CEFF1A;
    transition: 0.5s;
  }

.menu-bar {
  background-color: #1E3231;
  width: 100%;
  left: 10px;
}
.navigation a:hover {
  background-color: #1E3231;
  color: #E8EEF2;
}

h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  /* background-image: linear-gradient(red, yellow, green); */
}
  h1 a {
    padding-top: 10px;   
    text-decoration: none;
    color: #1E3231;
    width: 100%;
  }

ul#horizontalList {
  min-width: 696px;
  list-style: none;
  text-align: center;
  padding-top: 20px;
}

ul#horizontalList li {
display: inline;
padding: 20px;
}
