.navigation {
  font-family: 'Krona One', sans-serif;
  font-size: 24px;
  display: block;
  /* display: table; */
  margin: auto;
}

.navigation a {
  text-decoration: none;
  display: inline-table;
  padding: 20px;
  padding-bottom: 30px;
  background-color:  #0a045f;
  color: #ce1b1b;
  transition: 0.5s;

}

.menu-bar {
  background-color: #0a045f;
  width: 100%;
  left: 10px;
}
.navigation a:hover {
  background-color:  #0a045f;
  color: #7abfec;
  cursor: default;
}

.full-navigation h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: -20px;
  margin-bottom: -24px;
}
  .full-navigation h1 a {
    padding-top: 10px;
  }
  h1 a {
    padding-top: 20px;   
    text-decoration: none;
    color: #7abfec;
    
    width: 100%;
  }

ul#horizontalList {
  min-width: 696px;
  list-style: none;
  text-align: center;
  padding-top: 20px;
}

ul#horizontalList li {
display: inline;
padding: 20px;
}


.footer {
  font-family: 'Krona One', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  position: static;
}
