.entire-container h1 {
  color: #ffffffd8;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

p#date {
  font-size: 16px;
  color: #7abfec;
  text-align: center;
  padding-top: 6px;
  
}
p#explanation {
  color: #ffffffc5;
  text-align: center;
  font-size: 16px;
  
  text-justify: distribute-all-lines;
  padding-left: 335px;
  padding-right: 335px;
}

p#copyright {
  font-size: 10px;
  color: #ffffffc5;
  text-align: center;
  padding-left: 496px;
  padding-right: 496px;
  text-justify: distribute-all-lines;
  padding-left: 300px;
  padding-right: 300px;
}

img#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 4px solid #0a045f ;
  border-width: 5px;
  border-color: #0a045f;
  border-style: solid;
}
