

mat-grid-tile-logo img{
    display: inline-grid;
    background-color: none;
    margin-left: 40%;
    width: 350px;
  
}

.row{
    
    display: table;
    margin-left: 5%;
}

.overview {
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin: 30px;
  margin-bottom: 40px;
  height: 200px;
  width: 350px;
  background-color: #ffffffde;
  opacity: 0.9;
  text-align: left;
  transition: 0.5s;
  
  color: #000000;
  display: inline-block;
}


.overview:hover {
    text-justify: distribute-all-lines;
    font: bold;
    color:#7abfec;
    background-color: #0a045f;
   

}



