

mat-grid-tile-logo img{
    display: inline-grid;
    background-color: none;
    margin-left: 40%;
    width: 350px;
  
}

.overview {
  
    padding: 30px;
    margin: 20px;
    /* position: center; */
    display: inline-block;
    max-height: 250px;
    max-width: 400px;
    background-color: #ffffffde;
    opacity: 0.9;
    text-align: left;
    transition: 0.5s; 
    color: #000000;
    
}

.overview:hover {
    margin: 30px;
    text-justify: distribute-all-lines;
    font: bold;
    color:#7abfec;
    background-color: #0a045f;
    cursor: pointer;
   

}



