<mat-grid-list cols="2" rowHeight="2:1" rowspan="6">
  
    
  
  <mat-grid-tile class="overview"> 
    <h1>Project Overview</h1>
    <br>This project was created by Isaak Treat and Jen Macklin.
    <br>It contains two main components:
    <br>- An Astronomy Picture of the Day
    <br>- Martian Weather Tracker for the Past 7 Sols
    <br>All data used for both components are property of NASA
    <br>We have been given use to display it
    under their permission at <a href="http://api.nasa.gov">api.nasa.gov</a>
  </mat-grid-tile>
  <mat-grid-tile class="overview">
    <h1>APOD</h1>
    <br>Astronomy Picture of the Day:
    <br>Each day, a new astronomy photo is displayed.
    <br>Along with the photo, you're able to find the:
    <br>- Title
    <br>- Author
    <br>- Description
    <br>- Copyright
    <br><br>
  </mat-grid-tile>
    <mat-grid-tile class="overview">
    <h1>Mars Weather</h1>
    <br>Mars Weather displays the past 7 Sols and their temperature statistics on each Sol.
    <br>Clicking on a Sol will give a greater insight into what each Sol was like, including:
    <br>- Temperature High and Low
    <br>- Atmospheric Pressure
    <br>- Wind Speeds
    <br>- Season
  </mat-grid-tile>
  <mat-grid-tile-logo><img src="/assets/918px-NASA_logo.png"/></mat-grid-tile-logo>
</mat-grid-list>
