.heading {
    font-size: 40px;
    color: #ffffff;
    padding-top: 10px;
}

#outer {
    height: 84px;
}

.table {
    display: table;
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;

}

ul#horizontal-list li {
    display: inline;
    padding: 20px;
}
