
<div id="outer">
 
  <h1 class="heading">Insight Mars Weather</h1>
 
  
  <div class="table">
    
    <ul id="horizontal-list">
        <li>
          <mat-card class="sol-card" [ngClass]="{'active': i === day_index}" (click)="expandSol(i)" *ngFor="let solKey of marsWeather.sol_keys; index as i">
            <mat-card-header>
              <mat-card-title class="sol-date">SOL {{marsWeather.sol_keys[i]}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="average-temp">{{marsWeather[marsWeather.sol_keys[i]].AT.av.toFixed()}}°F</p>
              <p>{{marsWeather[marsWeather.sol_keys[i]].AT.mx.toFixed()}}°F | {{marsWeather[marsWeather.sol_keys[i]].AT.mn.toFixed()}}°F</p>
            </mat-card-content>
          </mat-card>
        </li>
      </ul>
  
    <div class="expanded-day" *ngIf="marsWeather.sol_keys" [ngClass]="{'hidden': day_index < 0}">
      <mat-card class="expanded-card">
        <mat-card-header>
          <mat-card-title class="expanded-card-date">SOL {{marsWeather.sol_keys[day_index]}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

</div>
