

.heading {
  font-size: 40px;
  color: #ffffff;
  padding-top: 10px;
  text-align: center;
}

.dayTitle{
  text-align: center;
  color: #1E3231;

}
#outer {
  height: 84px;
}

.table {
    display: table;
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 0px;
    list-style: none;
    padding-top: 20px;
    color: #1E3231;
}
ul#horizontal-list li {
  display: inline-block;
  padding: 20px;
}


.sol-card {
  height: 200px;
  width: 160px;
  /* background-color: #ffffff; */
  background-color: lightgrey;
  text-align: center;
  transition: 0.9s;
  color: #1E3231;
}

.sol-date {
    padding-top: 18px;
    padding-left: 5px;
    font-size: 32px;
}

.average-temp {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 62px;
}

.sol-card:hover {
    /* background-color: #000000; */
    background-color: #1E3231;
    /* color: #ffffff */
    color: #CEFF1A;
    cursor: pointer;
}
