/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';

html, body {
  /* background-color: #babdbc; */
  background-color: darkgrey;
  background-image: url("/assets/stars.jpg");
  height: 100%;
  color: #333333;
  margin: 0px;
  margin-top: 10px;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; color: lightgray; }

a:link {
    color: lightcyan;
    text-decoration: underline;
    }
    a:visited {
    color: blueviolet;
    text-decoration: underline;
    }
    a:hover {
    color: green;
    text-decoration: none;
    }
